#left section {
   margin-top: 301px;
   margin-left: 90px;
}

#left .text-group {
   width: 394px;
   height: 154px;
   display: flex;
}

#left .text-group textarea {
   width: 100%;
   height: 100%;
   margin-left: 20px;
}

#left .time {
   color: white;
   font-size: 96px;
}

.timer {
   display: flex;
}

.timer .text {
   font-size: 96px;
   color: white;
}

/* end */
.placeholder-img {
   height: 168px;
   width: 298px;
   background: pink;
   margin: 0px auto 14.5px auto;
   border-radius: 21px;
}

.planet-content.end {
   height: auto;
   top: 28%;
}

#rec-button.to-home {
   margin-top: 32px;
}

/* end-treasure */
.treasure-group {
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: 38px;
   width: 162px;
   height: 162px;
   /* background: purple; */
}

.notice {
   position: absolute;
   width: 68px;
   height: 68px;
   z-index: 1000;
   top: -6%;
   left: -2%;
}

.treasure {
   width: 162px;;
   height: 162px;
}