#left section {
   margin-top: 301px;
   margin-left: 90px;
}

#left .text-group {
   width: 394px;
   height: 154px;
   display: flex;
}

#left .text-group textarea {
   width: 100%;
   height: 100%;
   margin-left: 20px;
}

#left .time {
   color: white;
   font-size: 96px;
}

.timer {
   display: flex;
}

.timer .text {
   font-size: 96px;
   color: white;
}